<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>G1KWave.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECEF8EBB1DCC364500B2BDAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECEF8ED41DCC364500B2BDAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECEF8EDF1DCC364500B2BDAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
